<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358102006155-38ca046fj5himfrnuu641kh20gb0ss9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358102006155-38ca046fj5himfrnuu641kh20gb0ss9q</string>
	<key>API_KEY</key>
	<string>AIzaSyB13IdAbTMoxtpSljndBSB_GUzu3oRK5pI</string>
	<key>GCM_SENDER_ID</key>
	<string>358102006155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.pitchsolution.joycollab</string>
	<key>PROJECT_ID</key>
	<string>word-5c14e</string>
	<key>STORAGE_BUCKET</key>
	<string>word-5c14e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358102006155:ios:3f08779d798613f289578e</string>
</dict>
</plist>